<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Nuevo Registro
    </h1>
    <form action="/save" method="post">
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" id="Nombre" required>
        <label for="Correo">Correo</label>
        <input type="text" name="Correo" id="Correo">
        <label for="Celular">Celular</label>
        <input type="text" name="Celular" id="Celular">
        <label for="Edad">Edad</label>
        <input type="text" name="Edad" id="Edad">
        <label for="Genero">Género</label>
        <input type="text" name="Genero" id="Genero">
        <button type="submit">Guardar</button>
        <a href="/">Cancelar</a>
    </form>
    
</body>
</html>