* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

button:hover{
    font-weight: bolder;
}

input {
    border: 0;
    outline: 0;
    border-radius: 2px;
    font-size: 20px;
}
.tarjeta{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.row:not(:last-child) {
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 15px;

}