<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    <main>
        <Section action="/src/DB/read.php"> 
            <div class="usuarios" id="usuarios">
                <img src="/src/img/usuario.png" alt="">
                <h1>Usuarios</h1>    
            </div>
            <div class="doctores" id="doctores">
                <img src="/src/img/doctor.png" alt="">
                <h1>Doctor</h1>
            </div>
            <div class="citas" id="citas">
                <img src="/src/img/citas.png" alt="">
                <h1>Citas</h1>
            </div>
            </nav>
        </Section>
    </main>
    <script src="/src/JS/views_redirect.js"></script> 
    <?php
        echo "Este es un ejemplo de código PHP en una página HTML.";
    ?>
</body>
</html>